/*
    Document   : classifier
    Created on : Jan 2, 2014, 1:19:39 AM
    Author     : kamal
    Description:
        Purpose of the stylesheet follows.
*/

.classifier
{
	cursor: pointer;
}

.classifier-bg
{
	fill: #eee; /*rgba(255,127,0, .5);*/
}

.classifier-title-bg
{
	fill: rgba(150,150,150, .5);
}

.resizer-bg
{
	fill: rgba(100,100,100,.1);
}

.resizer-handler
{
	fill: rgba(0,0,0,.5);
}


.controls-picker button 
{
	border: 0px;
	background-color: darkturquoise;
	width: 30px;
	height: 30px;
	margin-bottom: 1px;
	color: rgba(255,255,255,.8);
	outline: none;
}


.button-edit-classifier:before,
.button-add-association:before
{
	font-family: "Entypo";
	font-size: 40px;
	line-height: 26px;
	margin-left: -2px;
}

.button-edit-classifier:before
{
	content: '\2699';
}

.button-add-association:before
{
	content: '\1F56B';
}




