/*
    Document   : icons
    Created on : Nov 10, 2013, 1:16:16 AM
    Author     : kamal
    Description:
        Purpose of the stylesheet follows.
*/


/*span[class*="icon"]*/
.icon
{
	font-family: "Entypo";
	font-size: 40px;
	line-height: 25px;
}




