/*
    Document   : aside
    Created on : Oct 27, 2013, 3:01:00 AM
    Author     : kamal
    Description:
        Purpose of the stylesheet follows.
*/


aside#aside-side-pane
{
  width: 15%;
  /*min-width: 200px;*/
  background-color: #FAFAFA;
  float: left;
  display: inline-block;
}


#aside-side-pane hr
{
  margin: 0px;
  border: 0px;

  height: 10px;

  border-bottom: 1px dotted #eee !important;
}


#aside-side-pane a
{
  color: #777;
  text-decoration: none;
}

#aside-side-pane a:hover
{
  /*color: #72CAEF;*/
}

#aside-side-pane ul li
{
  text-indent: 20px;
}

.component-title
{
  color: darkgray;
  font-size: 14px;
  font-weight: 700;
  text-indent: 10px;
  text-transform: uppercase;
  height: 20px;
}





#aside-side-pane ul li
{
  margin-top: 1px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
}

#aside-side-pane ul li.listHeader
{
  font-weight: 700;
  color: #555;
}
#aside-side-pane ul li:not(.listHeader)
{
  cursor: pointer;
}
#aside-side-pane ul li.listHeader:hover:before
{
  background-color: transparent !important;
}

#aside-side-pane ul li:hover:not(.listHeader)
{
  background-color: #F5F5F5;
}

#aside-side-pane ul li:hover:before
{
  width: 5px;
  height: inherit;
  background-color: #36A9E0;
  content: '';
  color: transparent;
  display: block;
  margin-bottom: -30px;
}

.item-icon:before
{
  margin-left: -25px;
  margin-right: 5px;
}

.item-name
{
  display: block;
  float: left;
  width: 100%;
  /*background-color: #72CAEF;*/
}

#aside-side-pane ul li a
{
  font-weight: 400;
}


button.button-add-item
{
  margin: 0px;
  border: 0px solid #eeeeee;
  height: 30px;
  line-height: 14px;
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  width: 80%;
  cursor: pointer;
  font-weight: 700;
  color: #777;
}
