/*
    Document   : content
    Created on : Nov 8, 2013, 1:55:17 PM
    Author     : kamal
    Description:
        Purpose of the stylesheet follows.
*/

#section-content
{
	overflow: hidden;
	width: 85%;
	height: 100%;
	display: inline-block;
}

