
/******************** EDITOR ***********************/

#section-editor ::-webkit-input-placeholder
{
	/* WebKit browsers */
	color: rgba(255, 255, 255, .6);
}
#section-editor :-moz-placeholder
{
	/* Mozilla Firefox 4 to 18 */
	color: rgba(255, 255, 255, .6);
}
#section-editor ::-moz-placeholder
{
	/* Mozilla Firefox 19+ */
	color: rgba(255, 255, 255, .6);
}
#section-editor :-ms-input-placeholder
{
	/* Internet Explorer 10+ */
	color: rgba(255, 255, 255, .6);
}

#section-editor
{
	position: relative;
	width: 300px;
	height: 100%;
	left: -300px;
	background-color: rgba(10, 200, 200, .8);

	-webkit-transition-duration: 100ms;
	-webkit-transition-property: left;
	-webkit-transition-timing-function: ease-in;
}

#div-classifier-editor
{
	padding: 5px;
	color: white;

	width: 100%;
	/*height: 50%;*/
	background-color: transparent;
}

#div-classifier-editor textarea,
/*#div-classifier-editor select,*/
#div-classifier-editor input
{
	color: white;
	border: 0px;
	min-width: 100%;
	max-width: 100%;

	background-color: transparent;
	margin-bottom: 5px;
	outline: none;
}

#input-text-editor-title
{
	height: 40px;
	font-size: 24px;
	border-bottom: 1px dashed rgba(255,255,255,.4) !important;
}



#div-classifier-editor #div-properties-container
{
	min-height: 100px;
}

#div-classifier-editor #div-properties-title
{
	font-weight: bold;
	color: rgba(255,255,255,.6);
	text-transform: uppercase;
	font-size: 12px;
	border-bottom: 1px dashed rgba(255,255,255,.4) !important;
}

#div-classifier-editor #div-classifier-editor-buttons .editor-button
{
	background-color: darkturquoise;
	border: 0px;

	box-sizing: border-box;
	color: rgba(255,255,255,.8);
	cursor: pointer;
	display: inline-block;
	font-size: 20px;

	width: 49%;
	height: 40px;
	line-height: 40px;

	padding: 0px;
	margin: 0px;

	outline-color: rgb(255, 255, 255);
	outline-style: none;
	outline-width: 0px;

	position: relative;

	text-align: center;
	text-indent: 0px;
	text-shadow: none;
	text-transform: uppercase;

	word-spacing: 0px;
}

#div-classifier-editor #div-classifier-editor-buttons #button-save
{
	border-left: 1px dashed rgba(255,255,255,0.2);
}

#div-classifier-editor #div-classifier-editor-buttons .editor-button:not([disabled]):hover
{
	color: rgb(255,255,255);
}

#div-classifier-editor #div-classifier-editor-buttons .editor-button::before
{
	font-family: "Entypo";

	font-size: 40px;
	padding: 0 0px 0 10px;
	margin: 0 -20px 0 0;

	float: left;

	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

#div-classifier-editor #div-classifier-editor-buttons #button-save::before
{
	content: '\1F4BE';
}
#div-classifier-editor #div-classifier-editor-buttons #button-cancel::before
{
	content: '\1F519';
}


/************** new property ***************/
#div-new-property {
	height: 25px;
}

#div-new-property #input-new-property {
	border: 1px dotted rgba(255,255,255,.5);
	padding-left: 3px;
}

#div-new-property #div-input-new-porperty { width: 50%;}
#div-new-property #div-select-controls { width: 40%;}
#div-new-property #div-button-action-porperty { width: 10%;}

#div-new-property > div {
	float: left;
}

#div-new-property #div-select-controls > div.hasArrow:before
{
	font-family: "Entypo";
	content: '\E75C';
	font-size: 40px;
	line-height: 26px;
	height: 10px;
	float: left;
	position: relative;
	margin-bottom: -10px;
	left: 82%;
	z-index: 0;
	color: white;
}

#div-new-property #div-select-controls > div {
	width: 100%;
	float: left;
}

#div-new-property select
{
	height: 25px;
	border: 1px dotted rgba(255,255,255,.5) !important;
	border-left: 0px !important;
	position: relative;

	color: rgba(255,255,255,.9);
	border: none;
	background: rgba(10, 200, 200, .5);
	-webkit-appearance: none;
	width: 100%;
	outline: none;
}


#div-new-property #button-add-property,
#div-new-property #button-save-property
{
	border: 0px solid;
	display: inline-block;
	height: 25px;
	line-height: 0px;
	float: right;
	color: rgba(255,255,255,.8);
	
	background-color: transparent;
	outline: none;
}

#div-new-property #button-add-property:hover,
#div-new-property #button-save-property:hover
{
	color: rgb(255,255,255);
}

#div-new-property #button-add-property:before,
#div-new-property #button-save-property:before
{
	font-family: "Entypo";
	font-size: 48px;
	line-height: 18px;
}

#div-new-property #button-add-property:before {
	content: '\2795';
}

#div-new-property #button-save-property:before {
	content: '\2713';
}

.button-edit-property,
.button-remove-property
{
	width: 20px;
	height: 20px;
	border: 0px;
	outline: none;
	background-color: transparent;
	margin: 0px;
	padding: 0px;
	color: rgba(255,255,255,.3);
}

.button-edit-property::before,
.button-remove-property::before {
	font-family: "Entypo";
	line-height: 20px;
	font-size: 40px;
	margin: 0px;
}

.button-edit-property::before {
	content: '\270E';
}
.button-remove-property::before {
	content: '\2716';
}

.button-edit-property:hover {
	color: white;
}
.button-remove-property:hover {
	color: white;
}

#section-editor div.uml-property
{
	background-color: rgba(10,200,200, .5);
	margin-top: 1px;
}

#section-editor .property-type
{
	color: rgba(255,255,255,.6);
}
