/*
    Document   : footer
    Created on : Nov 1, 2013, 9:00:18 PM
    Author     : kamal
    Description:
        Purpose of the stylesheet follows.
*/

footer
{
	position: absolute;
	bottom: 0px;
	height: 30px;
	width: 100%;
}


footer div
{
	height: 30px;
	background-color: skyblue;
	float: left;
	width: 100%;
	text-align: center;
	display: inline-block;
}

footer p
{
	height: 30px;
}

