/*
    Document   : menu
    Created on : Oct 15, 2013, 1:27:13 AM
    Author     : kamal
    Description:
        Purpose of the stylesheet follows.
*/

/*#section-menu-component*/
#nav-menu-component
{
  width: 100%;
  height: 50px;
  background-color: #72CAED;
  color: #DEF0F8;
}


.navbar
{
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;

  border: 0px;
  border-bottom: 1px solid #E7E7E7 !important;

  margin: 0px;
}


.navbar #navbar-collapse-1
{
  padding-left: 0px;
  padding-right: 0px;

  background-color: rgb(10,200,200);
}


#ul-logo a
{
  /* this for the manu with the blue background */
  /*color: #DEF0F8;*/

  color: #fafafa;
  text-decoration: none;
  line-height: 50px;
}

#ul-logo a:hover
{
  color: #FFFFFF;
}

#ul-logo
{
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;

  height: inherit;
  /*width: 100% !important;*/
  font-size: 16px;
}

#ul-logo li:not(#li-logo) a
{
  display: block;
  height: 50px;
  /*width: 100px;*/
  background-color: #36A9E0;
  font-weight: 600;
}

#ul-logo li#li-logo a
{
  display: block;
  height: 50px;
  /*width: 200px;*/
  font-weight: 700;
  /*background-color: yellowgreen;*/
  /*background-color: darkturquoise;*/
  background-color: rgb(10,200,200);
}

#ul-logo li
{
  float: left;
  height: 50px;
  width: 100%;

  margin-top: 0px !important;
  text-indent: 0px !important;
}

#ul-logo li.logo
{
  /*width: 200px !important;*/
  /*margin-left: 0px;*/
}

#section-element-list-controller > li:hover {
  background-color: darkturquoise;
}

#section-element-list-controller > li:first-child
{
  border-left: 1px dotted rgba(255,255,255,.3);
}

#section-element-list-controller > li
{
  border-right: 1px dotted rgba(255,255,255,.3);
}

/*************************  Global control bar  *************************/

#section-global-control
{
  width: 300px;
  height: 50px;
  /*position: absolute;*/
  /*right: 20px;*/
}

#div-sync-button
{
  float: left;
}

#button-sync:hover,
#button-social-account
{
  background-color: darkturquoise;
}

#button-sync
{
  border: 0px;
  border-left: 1px dotted rgba(255,255,255,.6);
  width: 100px;
  height: 50px;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  line-height: 40px;
  outline: none;
  background-color: transparent;
  color: white;
}

#button-sync::before
{
  content: '\e711';
  font-family: "Entypo";
  font-size: 50px;
  padding: 0px 0px 0px 5px;
  margin: 2px 0px;
  float: left;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

#button-social-account
{
  border: 0px;
  border-left: 1px dotted rgba(255,255,255,.6);
  width: 200px;
  height: 50px;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  line-height: 40px;
  outline: none;
  background-color: transparent;
  color: white;
  text-align: left;
}

#img-profile-image
{
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;

  width: 35px;
  height: 35px;
  margin: 5px;
}



