/*
    Document   : search
    Created on : Oct 15, 2013, 3:41:58 AM
    Author     : kamal
    Description:
        Purpose of the stylesheet follows.
*/

/*#li-search-component #input-search:empty
{
  font-weight: 200;
}*/

#section-search-component
{
  border-top: 1px solid rgba(0,0,0,0.1);
}

#section-search-component form
{
  margin: 0px;
}

#section-search-component #input-search
{
  border: 0px;
  border-bottom: 1px solid #eeeeee !important;

  height: 40px;
  width: 100%;

  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 18px;

  color: darkgray;
  text-indent: 10px;
  background-color: #fdfdfd;
}