<div id="div-new-property">
  <div id="div-input-new-porperty">
    <input id="input-new-property" ng-model="newPropertyName" type="text" placeholder="propertyName"/>
  </div>
  <div id="div-select-controls">
    <div ng-class="{'hasArrow': newPropertyUmlType !== 'other'}">
      <select ng-model="newPropertyUmlType" ng-show="newPropertyUmlType !== 'other'" ng-options="primitiveType for primitiveType in primitiveTypes">
        <option value="">Type</option>
      </select>
      <!-- <input id="input-new-property-primitive-type" ng-show="newPropertyUmlType === 'other'" ng-model="newPropertyUmlType" type="text" placeholder="Type"/> -->
    </div>
  </div>
  <div id="div-button-action-porperty">
    <button id="button-save-property" ng-show="mode==='edit'" ng-click="saveProperty()"></button>
    <button id="button-add-property" ng-show="mode==='add'" ng-click="addProperty()"></button>
  </div>
</div>