<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav" id="section-element-list-controller" ng-controller="ElementListController">

        <li class="center-container diagram-icon" title="Add class diagram" ng-click="addElementClick('Class Diagram')">
          <button class="absolute-center">
            <span></span><span></span><span></span><span></span>
          </button>
        </li>

        <li class="center-container class-icon" title="Add class" ng-click="addElementClick('Class')">
          <button class="absolute-center">
            <span><span></span><span></span></span>
          </button>
        </li>

        <li class="center-container interface-icon" title="Add interface" ng-click="addElementClick('Interface')">
          <button class="absolute-center">
            <span></span>
            <span>
              <span></span>
            </span>
            <span></span>
          </button>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
<!--
        <li><a href="#">Link</a></li>
-->
        <li id="section-global-control">
          <!-- this container's scope is the root scope -->
          <div id="div-sync-button">
            <button id="button-sync" ng-click="sync()">Sync</button>
          </div>
          <div id="div-social-account">
            <button id="button-social-account"><span id="span-profile-image">
              <img id="img-profile-image" ng-src="{{userPicture}}"/>
              </span>{{username}}</button>
          </div>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
