
<section id="middle-container" ng-controller="WorkspaceController">

  <aside id="aside-side-pane">
    <header id="header">
      <nav id="nav-menu-component" uml-component="logo"></nav>
    </header>

    <section id="section-search-component" uml-component="search"></section>

    <!--    <section id="section-diagram-list-controller" ng-controller="ElementListController">
          <section id="section-uml-model-list" uml-component="uml-diagram-list" entity="diagram"></section>
        </section>-->

    <workspace-tree></workspace-tree>
  </aside>



  <section id="section-content">

    <workspace-navbar></workspace-navbar>




    <section id="section-first-modal" ng-controller="LoginController" ng-show="model.uid=='' || model.uid==null" class="center-container">
      <section id="section-twitter-button" class="absolute-center">
        <div id="div-app-name-1">UML Modeler</div>
        <div id="div-app-name-2">UML Modeler</div>
        <div id="div-app-name-3">UML Modeler</div>

        <button id="button-twitter-signin" ng-click="socialLogin('twitter')">Sign in with Twitter</button>
      </section>
    </section>

    <div id="workspace-component">
      <div ng-repeat="diagram in diagrams" ng-controller="ClassDiagramController" ng-init="initModel(diagram)">
        <diagram id="diagram-{{diagram.GUID}}" name="{{diagram.name}}" guid="{{diagram.GUID}}">

        </diagram>
      </div>
    </div>

    <editor element-type-name="classifier"></editor>

  </section>
</section>
