
<section id="middle-container" ng-controller="WorkspaceController">

	<aside id="aside-side-pane">
		<header id="header" ng-controller="MenuCtrl">
			<nav id="nav-menu-component" uml-component="menu"></nav>
		</header>

		<section id="section-search-component" uml-component="search"></section>

		<!--		<section id="section-diagram-list-controller" ng-controller="ElementListController">
					<section id="section-uml-model-list" uml-component="uml-diagram-list" entity="diagram"></section>
				</section>-->

		<workspace-tree></workspace-tree>
	</aside>



	<section id="section-content">

		<section id="section-element-list-controller" ng-controller="ElementListController">
			<section id="section-uml-model-list" uml-component="uml-model-list"></section>
		</section>

		<section id="section-twitter-button" ng-controller="LoginController" ng-show='model.uid==""'>
				<button id="button-twitter-signin" ng-click="socialLogin('twitter')">Sign in with Twitter</button>
		</section>

		<div id="workspace-component">
			<!--<workspace-navbar></workspace-navbar>-->
			<div ng-repeat="diagram in diagrams" ng-controller="ClassDiagramController" ng-init="initModel(diagram)">
				<diagram id="diagram-{{diagram.GUID}}" name="{{diagram.name}}" guid="{{diagram.GUID}}">

				</diagram>
			</div>
		</div>

		<editor element-type-name="classifier"></editor>

<!-- 		<section class="tour">
			<ul class="list">
				<li><a href="#" class="cbp-tm-icon-archive">Sorrel desert</a></li>
			</ul>
		</section>
 -->
	</section>
</section>
<!--<footer id="footer">footer</footer>-->
